.profile{
    display: flex;
}
.profile-right{
    flex: 9;
}
.profile-right-bottom{
    display: flex;
}
.profile-cover{
    height: 320px;
    position: relative;
}
.profile-cover-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profile-user-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin: auto;
}
.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-info-name{
    font-size: 24px;
}
.user-desc{
    font-weight: 300;
}