.topbar-container{
    /* padding: .8rem; */
    display: flex;
    height: 50px;
    max-width: 100vw;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--bg-color);
    color: #fff;
}
.topbar-left{
    flex: 3;
    font-size: 1.4rem;
    font-weight: bold;
}
.logo{
    cursor: pointer;
    margin-left: 10px;
}
.topbar-center{
    display: flex;
    flex: 5;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
}
.topbar-right{
    display: flex;
    flex: 4;
    justify-content: space-around;
    align-items: center;
}
.topbar-links ul{
    display: flex;
}
.topbar-links ul li{
    list-style-type: none;
    margin-right: .5rem;
    cursor: pointer;
}
.icon{
    font-size: 1.3rem !important;
}
.search-input{
    border: none;
    width: 70%;
}
.search-input:focus{
    outline: none;
}
.search-input::placeholder{
    font-size: 1rem;
}