:root{
    --bg-color: #323d62;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Manrope";
}
.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.profile-picture-large{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.post-picture{
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}